<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="contact-section">
                <h4>Contacto</h4>
                <p><i class="fas fa-map-marker-alt"></i> Dirección: {{direccion}}</p>
                <p><i class="fas fa-phone"></i> Teléfono: {{telefono}}</p>
                <p><i class="fas fa-envelope"></i> Correo Electrónico: {{correo}}</p>
            </div>
            <div class="company-info">
                <h4>Acerca de Nosotros</h4>
                <img class="logo_scroll" src="assets/images/kettlebell.png" alt="">
                <p>{{informacion}}</p>
            </div>
            <div class="social-icons">
                <h4>Síguenos</h4>
                <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
  </footer>
</body>
</html>

