<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="main-section team" id="team">
    <!--main-section team-start-->
    <div class="container">
      <h2>Testimonios</h2>
      <h6>Observacion y declaracion del usuario.</h6>
      <div class="team-leader-block clearfix">
        <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="assets/images/lenis.jpg" alt="">
              <ul>
                <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>

              </ul>
            </div>
            <h5 class="wow fadeInDown delay-03s"><b>Lenis </b></h5>
            <span class="wow fadeInDown delay-03s">Director de Avianca</span>
            <p class="wow fadeInDown delay-03s">Gestión de Recursos Humanos ha permitido la flexiblización de los procesos en el interior de mi organización, especialmente en la comunicación con los empleados. </p>
          </div>
          <div class="team-leader-box">
            <div class="team-leader  wow fadeInDown delay-06s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="assets/images/helmer.jpg" alt="">
              <ul>


                <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
              </ul>
            </div>
            <h5 class="wow fadeInDown delay-06s"><b>Helmer Alexander Patiño</b></h5>
            <span class="wow fadeInDown delay-06s">Gerente comercial</span>
            <p class="wow fadeInDown delay-06s">Los servicios prestados por el aplicativo resultan muy efectivos para la actualización de la información y generar un ambiente laboral mucho más efectivo.</p>
          </div>
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-09s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="assets/images/team-leader-pic3.jpg" alt="">
              <ul>
                <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>

              </ul>
            </div>
            <h5 class="wow fadeInDown delay-09s"><b>Valentina Velazques </b></h5>
            <span class="wow fadeInDown delay-09s">Contadora</span>
            <p class="wow fadeInDown delay-09s">El módulo de contratación genera mayor confiabilidad por la sistematización de los datos, además puedo acceder a ellos desde cualquier lugar, sin necesidad de buscar en documentación</p>
          </div>
        </div>
      </div>
    </section>


</body>
</html>


